@import "tailwindcss";

:root {
  --primary: #012d1d;
  --primary-container: #1b4332;
  --secondary-container: #fed65b;
  --on-primary: #ffffff;
  --surface: #f8f9fa;
  --surface-container-lowest: #ffffff;
  --on-surface: #191c1d;
  --on-surface-variant: #414844;
  --outline-variant: #c1c8c2;
  --font-manrope: 'Manrope', sans-serif;
  --font-newsreader: 'Newsreader', serif;
}

body {
  font-family: var(--font-newsreader);
  background-color: var(--surface);
  color: var(--on-surface);
}

h1, h2, h3, h4, button, label, nav {
  font-family: var(--font-manrope);
}